<div class="row" custom-full-height="true">
	<div class="col-sm-10">
        <p class="lead">Your collections</p>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default" ng-hide="showAddPanel" class="btn" ng-click="showAddFormPannel()">
            Add <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="btn btn-default" ng-show="showAddPanel" class="btn" ng-click="hideAddFormPannel()">
            Cancel <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
</div>
<div class="panel panel-default" ng-show="showAddPanel">
    <div class="panel-body">
        <form role="form" ng-submit="saveCollection()">
            <p ng-show="showSuccessAlert" class="alert alert-success">Profil bien enregistré</p>
            <p ng-show="showWarnAlert" class="alert alert-warning">Problème d'enregistrement</p>
            <div class="form-group">
                <label for="creationCollection">Collection label</label>
                <input ng-model="addcollection.label" type="text" name="label" class="form-control" ng-required="true" placeholder="New label name">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" ng-click="hideAddFormPannel()" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div>

<div class="row" custom-full-height="true">
	<div class="col-sm-12">
		<div class="list-group">
			<div ng-repeat="collection in collections" class="list-group-item">

				<div class="list-group-item-text">
					<div class="row">
						<div class="col-sm-10">
							<h4 class="list-group-item-heading">{{collection.label}}</h4>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-default" class="btn" ng-href="#/events/{{collection.id}}">
                                <span class="glyphicon glyphicon-eye-open"></span>
							</a>
                            <a class="btn btn-default" class="btn" ng-href="#/events/{{collection.id}}">
                                <span class="glyphicon glyphicon-play-circle"></span>
                            </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
