<p>Classification</p>

<div class="row">
    <div class="col-md-8">
        <!-- Game -->

        <div class="jumbotron">
            <div class="container">

                <div class="row">
                    <div class="col-md-5">

                        Proposition A
                        {{proposition.img}}

                        <img src="..." alt="..." class="img-thumbnail">

                    </div>

                    <div class="col-md-2">
                        VS
                    </div>

                    <div class="col-md-5">

                        Proposition B

                        <img src="..." alt="..." class="img-thumbnail">

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-4">
        Secondary column
    </div>
</div>
