<div class="row">

    <div class="col-md-8">

        <div class="alert alert-info" role="info">Choose the most pertinent (your favorite) element to get them all ordered by your preference</div>

        <!-- Game -->

        <div class="panel panel-default">
          <div class="panel-body">
            
                <div class="row">
                    <div class="col-md-5">
                        <!-- Proposition A -->
                        <img
                            src="../../gallery/{{propositions.itemA.title}}"
                            alt="..."
                            class="img-thumbnail"
                            ng-click="playIteration(propositions.itemA.id, propositions.itemB.id, propositions.itemA.id)" />
                    </div>

                    <div class="col-md-2">
                        <h3><strong>VS</strong></h3>
                    </div>

                    <div class="col-md-5">
                        <!-- Proposition B -->
                        <img
                            src="../../gallery/{{propositions.itemB.title}}"
                            alt="..."
                            class="img-thumbnail"
                            ng-click="playIteration(propositions.itemA.id, propositions.itemB.id, propositions.itemB.id)" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <ul class="list-group" ng-repeat="result in gameResults | orderBy: gameResultsSort">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-5">
                        <img
                            src="../../gallery/{{result.title}}"
                            alt="..."
                            class="img-thumbnail"
                            ng-click="playIteration(propositions.itemA.id, propositions.itemB.id, propositions.itemB.id)" />
                    </div>
                    <div class="col-md-7">
                        <h4>{{result.title}}</h4>
                        <span class="badge">{{result.rank}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
